.main{
    margin: 10px;
    padding: 5px;
    background-color:rgb(62, 125, 152);
    border: solid 5px rgb(179, 210, 244);
    
}
.todo{
    text-align: center;

}
.button{
    background-color: red;
    
}
.chat{
    text-align: center;
    background-color: rgb(151, 233, 240);
    border:5px solid rgb(9, 164, 125);
}